In [2]:
import pandas as pd
# from langchain.agents import create_pandas_dataframe_agent
from langchain_experimental.agents import create_pandas_dataframe_agent
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_types import AgentType

ModuleNotFoundError: No module named 'pandas'

In [4]:
# df = pd.read_csv("./Uscensus/acs2015_census_tract_data.csv")
df = pd.read_csv("./llm_finetuning/acs_data.csv")
df.head(5)

,TractId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga County,1845,899,946,2.4,86.3,5.2,0.0,...,0.5,0.0,2.1,24.5,881.0,74.2,21.2,4.5,0.0,4.6
1,1001020200,Alabama,Autauga County,2172,1167,1005,1.1,41.6,54.5,0.0,...,0.0,0.5,0.0,22.2,852.0,75.9,15.0,9.0,0.0,3.4
2,1001020300,Alabama,Autauga County,3385,1533,1852,8.0,61.4,26.5,0.6,...,1.0,0.8,1.5,23.1,1482.0,73.3,21.1,4.8,0.7,4.7
3,1001020400,Alabama,Autauga County,4267,2001,2266,9.6,80.3,7.1,0.5,...,1.5,2.9,2.1,25.9,1849.0,75.8,19.7,4.5,0.0,6.1
4,1001020500,Alabama,Autauga County,9965,5054,4911,0.9,77.5,16.4,0.0,...,0.8,0.3,0.7,21.0,4787.0,71.4,24.1,4.5,0.0,2.3

In [5]:
# df = df.iloc[:,:100]
df.shape

(1364, 37)

In [6]:
df.head(3)

,TractId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga County,1845,899,946,2.4,86.3,5.2,0.0,...,0.5,0.0,2.1,24.5,881.0,74.2,21.2,4.5,0.0,4.6
1,1001020200,Alabama,Autauga County,2172,1167,1005,1.1,41.6,54.5,0.0,...,0.0,0.5,0.0,22.2,852.0,75.9,15.0,9.0,0.0,3.4
2,1001020300,Alabama,Autauga County,3385,1533,1852,8.0,61.4,26.5,0.6,...,1.0,0.8,1.5,23.1,1482.0,73.3,21.1,4.8,0.7,4.7

In [ ]:
import openai

In [ ]:
agent = create_pandas_dataframe_agent(
    
    df,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/langchain_core/_api/deprecation.py:119: LangChainDeprecationWarning: The class `ChatOpenAI` was deprecated in LangChain 0.0.10 and will be removed in 0.3.0. An updated version of the class exists in the langchain-openai package and should be used instead. To use it run `pip install -U langchain-openai` and import as `from langchain_openai import ChatOpenAI`.
  warn_deprecated(

In [9]:
agent.run("Which state has highest women population and then give the sql that generates this answer?")

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/langchain_core/_api/deprecation.py:119: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df.groupby('State')['Women'].sum().idxmax()"}`


AlabamaThe state with the highest women population is Alabama.

The SQL query to generate this answer would be:

```sql
SELECT State, SUM(Women) as TotalWomen
FROM df
GROUP BY State
ORDER BY TotalWomen DESC
LIMIT 1;
```

> Finished chain.

'The state with the highest women population is Alabama.\n\nThe SQL query to generate this answer would be:\n\n```sql\nSELECT State, SUM(Women) as TotalWomen\nFROM df\nGROUP BY State\nORDER BY TotalWomen DESC\nLIMIT 1;\n```'

In [8]:
agent.run("Which states has lowest and highest unemployment rates and what are they?")

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df.groupby('State')['Unemployment'].mean().idxmin(), df.groupby('State')['Unemployment'].mean().min(), df.groupby('State')['Unemployment'].mean().idxmax(), df.groupby('State')['Unemployment'].mean().max()"}`


('North Dakota', 2.933170731707317, 'Puerto Rico', 19.646952595936796)The state with the lowest average unemployment rate is North Dakota with a rate of 2.93%. The state with the highest average unemployment rate is Puerto Rico with a rate of 19.65%.

> Finished chain.

'The state with the lowest average unemployment rate is North Dakota with a rate of 2.93%. The state with the highest average unemployment rate is Puerto Rico with a rate of 19.65%.'

In [ ]:
agent.run("What is average income per year in state of Texas and show the sql code?")

SAMPLE QUESTIONS

In [11]:
agent.run("How many unicorns live in census tract 42127961100?")

> Entering new AgentExecutor chain...
I'm sorry, but the dataframe provided does not contain information about unicorns. It contains demographic and economic data about different census tracts.

> Finished chain.

"I'm sorry, but the dataframe provided does not contain information about unicorns. It contains demographic and economic data about different census tracts."

In [ ]:
agent.run("What is the YoY change in median income for residents in New York state?")

> Entering new AgentExecutor chain...
The provided dataframe does not contain information about the year or the YoY (Year over Year) change in median income. To calculate the YoY change in median income for residents in New York state, we would need a dataframe that includes data for at least two different years.

If you have such data, you can filter the dataframe for New York state, group by year, calculate the median income for each year, and then calculate the difference between the two years to get the YoY change.

If you provide the appropriate data, I would be happy to help you with the code to perform this calculation.

> Finished chain.

'The provided dataframe does not contain information about the year or the YoY (Year over Year) change in median income. To calculate the YoY change in median income for residents in New York state, we would need a dataframe that includes data for at least two different years. \n\nIf you have such data, you can filter the dataframe for New York state, group by year, calculate the median income for each year, and then calculate the difference between the two years to get the YoY change. \n\nIf you provide the appropriate data, I would be happy to help you with the code to perform this calculation.'

In [15]:
agent.run("What is the best County?. Take any criteria you want and give me the best county.")

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df.groupby('County')['Income'].mean().idxmax()"}`
responded: {content}

LoudounThe county with the highest average income is Loudoun. Therefore, based on this criteria, Loudoun is the best county.

> Finished chain.

'The county with the highest average income is Loudoun. Therefore, based on this criteria, Loudoun is the best county.'

In [19]:
agent.run("What is the average commute time in Dawson county and in Multnomah county? Display both of them separately and round the outputs to 4 decimal places.")

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "dawson_avg_commute = df[df['County'] == 'Dawson']['MeanCommute'].mean()\nmultnomah_avg_commute = df[df['County'] == 'Multnomah']['MeanCommute'].mean()\nround(dawson_avg_commute, 4), round(multnomah_avg_commute, 4)"}`


(19.8235, 25.2518)The average commute time in Dawson county is 19.8235 minutes and in Multnomah county is 25.2518 minutes.

> Finished chain.

'The average commute time in Dawson county is 19.8235 minutes and in Multnomah county is 25.2518 minutes.'

In [20]:
agent.run("What is the unemployment rate for Autauga county?")

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df[df['County'] == 'Autauga']['Unemployment'].mean()"}`


8.233333333333334The average unemployment rate for Autauga county is approximately 8.23%.

> Finished chain.

'The average unemployment rate for Autauga county is approximately 8.23%.'